<a href="https://colab.research.google.com/github/RsdTanmoy/Machine-Learning-Pandas/blob/main/Pandas_Lecture_5(Fillna).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas fillna() Method**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df=pd.read_csv('/content/gdrive/MyDrive/Pandas/Fortune_10 (HMV) - Fortune_10 (HMV).csv')
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    NaN
3   4         Mattouch                  NaN  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill            no values  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...      not available  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df=pd.read_csv('/content/gdrive/MyDrive/Pandas/Fortune_10 (HMV) - Fortune_10 (HMV).csv', na_values=['not available','no values'])
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    NaN
3   4         Mattouch                  NaN  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill                  NaN  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...                NaN  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(0)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch                    0  ...  7,429,377 Dollars   6597557      0
4   5        Techdrill                    0  ...  7,435,363 Dollars   3138627      0
5   6         Techline                    0  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                    0  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...                  0  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(5)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      5
3   4         Mattouch                    5  ...  7,429,377 Dollars   6597557      5
4   5        Techdrill                    5  ...  7,435,363 Dollars   3138627      5
5   6         Techline                    5  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                    5  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...                  5  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna({'Industry':'none', 'Expenses':0, 'Growth':0})

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch                 none  ...  7,429,377 Dollars   6597557      0
4   5        Techdrill                 none  ...  7,435,363 Dollars   3138627      0
5   6         Techline                 none  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                 none  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...                  0  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

**fillna method**

In [ ]:
df.fillna(method='ffill')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(method='pad')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(method='bfill')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    23%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    23%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    23%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  5,635,276 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

**fillna axis**

In [ ]:
df.fillna(method='ffill',axis=0)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(method='ffill',axis=1)

   ID             Name  ...    Profit   Growth
0   1          Lamtone  ...   5274553      30%
1   2        Stripfind  ...  11412916      20%
2   3  Canecorporation  ...   3005820  3005820
3   4         Mattouch  ...   6597557  6597557
4   5        Techdrill  ...   3138627  3138627
5   6         Techline  ...   8427816      23%
6   7          Cityace  ...   3005116       6%
7   8   Kayelectronics  ...   5573830       4%
8   9          Ganzlax  ...  11901180      18%
9  10      Trantraxlax  ...   5453060       7%

[10 rows x 8 columns]

**df.limit**

In [ ]:
df.fillna(0,limit=1)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820      0
3   4         Mattouch                    0  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill                  NaN  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...                  0  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(method='ffill',limit=3)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

**df.inplace**

In [ ]:
df.fillna(method='ffill',inplace=True)
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]