<a href="https://colab.research.google.com/github/RsdTanmoy/Machine-Learning-Pandas/blob/main/Pandas_Lecture_6(replace).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Pandas replace() Function**

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import pandas as pd
df=pd.read_csv('/content/gdrive/MyDrive/Pandas/Fortune_10 (HMV) - Fortune_10 (HMV).csv')
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    NaN
3   4         Mattouch                  NaN  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill            no values  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...      not available  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df=pd.read_csv('/content/gdrive/MyDrive/Pandas/Fortune_10 (HMV) - Fortune_10 (HMV).csv', na_values=['not available','no values'])
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    NaN
3   4         Mattouch                  NaN  ...  7,429,377 Dollars   6597557    NaN
4   5        Techdrill                  NaN  ...  7,435,363 Dollars   3138627    NaN
5   6         Techline                  NaN  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                  NaN  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...                NaN  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.fillna(method='ffill',inplace=True)
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

**df.replace(to_replace)**

In [ ]:
df.replace(to_replace='Health',value='Finance')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation              Finance  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch              Finance  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill              Finance  ...  7,435,363 Dollars   3138627    20%
5   6         Techline              Finance  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace              Finance  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics              Finance  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace(10,15)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  15      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace([1,2,3,4,5,6,7,8,9,10],0)

   ID             Name             Industry  ...           Expenses    Profit Growth
0   0          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   0        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   0  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   0         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   0        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   0         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   0          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   0   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   0          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9   0      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace([1,2,3,4,5,6,7,8,9,10],[11,22,33,44,55,66,77,88,99,1010])

     ID             Name  ...    Profit  Growth
0    11          Lamtone  ...   5274553     30%
1    22        Stripfind  ...  11412916     20%
2    33  Canecorporation  ...   3005820     20%
3    44         Mattouch  ...   6597557     20%
4    55        Techdrill  ...   3138627     20%
5    66         Techline  ...   8427816     23%
6    77          Cityace  ...   3005116      6%
7    88   Kayelectronics  ...   5573830      4%
8    99          Ganzlax  ...  11901180     18%
9  1010      Trantraxlax  ...   5453060      7%

[10 rows x 8 columns]

In [ ]:
df.replace({'Industry': 'Health'}, 'Finance')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation              Finance  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch              Finance  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill              Finance  ...  7,435,363 Dollars   3138627    20%
5   6         Techline              Finance  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace              Finance  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics              Finance  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace({'Industry': 'Health','Inception':2011}, 'none')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation                 none  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch                 none  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill                 none  ...  7,435,363 Dollars   3138627    20%
5   6         Techline                 none  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace                 none  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics                 none  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

**regex**

In [ ]:
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace('[A-Za-z]',0,regex=True)

   ID  Name  Industry  Inception      Revenue  Expenses    Profit Growth
0   1     0         0       2009  $11,757,018         0   5274553    30%
1   2     0         0       2010  $12,329,371         0  11412916    20%
2   3     0         0       2012  $10,597,009         0   3005820    20%
3   4     0         0       2013  $14,026,934         0   6597557    20%
4   5     0         0       2009  $10,573,990         0   3138627    20%
5   6     0         0       2006  $13,898,119         0   8427816    23%
6   7     0         0       2010   $9,254,614         0   3005116     6%
7   8     0         0       2009   $9,451,943         0   5573830     4%
8   9     0         0       2011  $14,001,180         0  11901180    18%
9  10     0         0       2011  $11,088,336         0   5453060     7%

In [ ]:
df.replace({'Industry':'[A-Za-z]'},0,regex=True)

   ID             Name  Industry  ...           Expenses    Profit Growth
0   1          Lamtone         0  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind         0  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation         0  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch         0  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill         0  ...  7,435,363 Dollars   3138627    20%
5   6         Techline         0  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace         0  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics         0  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax         0  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax         0  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

**method**

In [ ]:
df

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation               Health  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch               Health  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill               Health  ...  7,435,363 Dollars   3138627    20%
5   6         Techline               Health  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace               Health  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics               Health  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace('Health',method='ffill')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation   Financial Services  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch   Financial Services  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill   Financial Services  ...  7,435,363 Dollars   3138627    20%
5   6         Techline   Financial Services  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace   Financial Services  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics   Financial Services  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]

In [ ]:
df.replace('Health',method='bfill')

   ID             Name             Industry  ...           Expenses    Profit Growth
0   1          Lamtone          IT Services  ...  6,482,465 Dollars   5274553    30%
1   2        Stripfind   Financial Services  ...    916,455 Dollars  11412916    20%
2   3  Canecorporation          IT Services  ...  7,591,189 Dollars   3005820    20%
3   4         Mattouch          IT Services  ...  7,429,377 Dollars   6597557    20%
4   5        Techdrill          IT Services  ...  7,435,363 Dollars   3138627    20%
5   6         Techline          IT Services  ...  5,470,303 Dollars   8427816    23%
6   7          Cityace          IT Services  ...  6,249,498 Dollars   3005116     6%
7   8   Kayelectronics          IT Services  ...  3,878,113 Dollars   5573830     4%
8   9          Ganzlax          IT Services  ...  3,878,113 Dollars  11901180    18%
9  10      Trantraxlax  Government Services  ...  5,635,276 Dollars   5453060     7%

[10 rows x 8 columns]